.container-prodList {
 margin-bottom: 40px;
    padding: 0 0 40px;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    width: 100%;
    .add-to-links-secondary {
      background: #ebebeb;
      padding: 20px 0;
      text-align: center;
      position: absolute;
      top: 42%;
      width: 100%;
      z-index: 1;
      display: none;
      left: 0;
  }
    .img-wrapper{
    float: left;
    margin-right: 3%;
    position: relative;
    border: 3px solid transparent;
    background: #fff;
    padding: 20px 0;
    border: 1px solid #ddd;
    &:hover  .add-to-links-secondary{
       display: block;
        pointer-events: visible;
      }

    }
  
 .redish{
      display: block;
      background-color: #ae1d14;
      width: 240px;
      padding: 10px 0;
      border: none;
      border-radius: unset;
      margin-bottom: 5px;
      line-height: 25px;
      color: #fff;
      text-decoration: none;
      text-align: center;
      margin-top: 12px;
    }
    .main-img{
      width: 260px;
      height: auto;
      object-fit: contain;

    }
    .product-item-details{
      display: block;
       overflow: hidden;
      .product-item-name{
      justify-content: left;
       color: #323232;
       font-size: 1.4rem;
       font-weight: 400;
       text-transform: uppercase;
       position: relative;
       padding: 0 0 15px;
       &:after{
        content: "";
        width: 45px;
        height: 3px;
        background: #e4e4e4;
        position: absolute;
        left: 0;
        // right: 0;
        margin: auto;
        bottom: 0;
       }
      }

  .price{
        color: #ae0814;
        font-size: 22px;
        margin: 10px 0 0;
        overflow: hidden;
    line-height: 25px;
    margin: 5px 0;
    font-family: 'Open Sans','Open Sans';
    font-weight: 400;
    font-weight: 400;
    font-size: 1.8rem;
      }
      .product, .description, .product-item-description{
        margin: 10px 0 20px;
        color: #292825;
        justify-content: left;
        p{
          margin: 0 0 10px;
          color: #323232;
        }
      }
      
        .action {
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          color: #7d6948;
          padding: 6px;
          position: relative;
          pointer-events: visible;
          img{
            width: 30px;
          }
        }
        .wishlist{
          border-right: 1px solid #ae0814;
          padding-right: 6px;
        }
      }
    }
  //   .add-to-links-secondary {
  //     background: #ebebeb;
  //     padding: 10px 0;
  //     text-align: center;
  //     position: absolute;
  //     top: 30%;
  //     width: 92%;
  //     left: 11px;
  //     z-index: 1;
  //     display: none;
    
  // }
  #alert{
    border: 1px solid green!important;
    color: green!important;
    font-size: 10px;
  }
  
  // .container-prod:hover .add-to-links-secondary{
  //   display: block;
  //   pointer-events: visible;
  // }
  
  @media (max-width: 768px) {
    .container-prod{
      padding: 0;
      .img-wrapper{
        padding: 0;
      }
    }
  }
  @media (max-width:992px) {
    .container-prod .add-to-links-secondary{
      top: 20%;
      width: 100%;
      left: 0;
    }
  }